{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Bar-Galileo{% endblock %}</title>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<!-- NAVBAR -->
<nav class="navbar navbar-expand-lg navbar-dark bg-transparent position-absolute w-100">
  <div class="container">
    <a class="navbar-brand fw-bold" href="{% url 'index' %}">Bar-Galileo</a>

    <div class="collapse navbar-collapse justify-content-left">
      <ul class="navbar-nav gap-4">
        <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'nosotros' %}">Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'reserva_eventos' %}">Reservas</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'menu' %}">Menú</a></li>
      </ul>
    </div>

    <div class="d-none d-lg-block">
      {% if request.user.is_authenticated %}
        <a href="{% url 'logout' %}" class="btn btn-warning">Salir</a>
      {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-light">Iniciar sesión</a>
      {% endif %}
    </div>
  </div>
</nav>

<!-- CONTENIDO -->
<main>
  {% block content %}{% endblock %}
</main>

<!-- FOOTER -->
<footer class="text-white text-center py-4 bg-dark">
  <small>© {{ now|date:"Y" }} Bar-Galileo. Todos los derechos reservados.</small>
</footer>

<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>
