main{
    width: 100%;
    display: grid;
    place-content: center;
    padding: 20px;
}

label, input, button, select{
    font-size: 1.2rem;
}

h1{
    font-size: 1.8rem;
}

#titulos{
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    gap: 5px;
}

main form {
    width: 70svw;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    background: var(--text-color);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

main form input, textarea, select{
    width: 100%;
    height: 50px;
    padding: 12px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea{
    height: 120px;
    resize: none;
}

.checkbox{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    flex-wrap: nowrap;
}

.checkbox input{
    height: 20px;
    width: 20px;
}

main button{
    padding: 14px;
    font-size: 1.2rem;
    outline: none;
    background-color:var(--primary-color);
    border: none;
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    transition: 0.3s;
}

main button:hover{
    color: var(--background-color);
    background-color: transparent;
}

/* Responsive Styles */
@media (max-width: 768px) {
    main form {
        width: 95%;
        padding: 20px;
    }
    label, input, button, select {
        font-size: 1rem;
    }
    .checkbox {
        align-items: flex-start;
    }
}

/*=========== estilos para el input de la fecha ===========*/

.calendar-container {
    margin: auto;
    background: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 550px;
}

.calendar-container h3{
    color: var(--text-color);
}

.header {
    background: var(--primary-color);
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    border-radius: 5px;
}

.month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

.days-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.day {
    width: 45px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--primary-color);
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin: 5px;
}

.day:hover {
    background: var(--background-color);
    color: var(--text-color);
}

.day.selected {
    color:var(--text-color);
}

.disabled {
    pointer-events: none;
}

.time-slot {
    margin-top: 20px;
}

.time-slot h3{
    margin-bottom: 4px;
}

.time-button {
    padding: 12px 22px;
    border: 1px solid var(--text-color);
    background: var(--background-color);
    color: var(--text-color);
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 16px;
}

.time-button:hover {
    background: var(--background-color);
}

.timezone {
    margin-top: 10px;
    font-size: 0.9em;
    color: gray;
}   

/*=========== estilos para el footer ===========*/

footer{
    display: grid;
    place-content: center;
    padding: 30px;
    text-align: center;
}
